form {
  margin: 0 auto;
  min-height: 4vw;
}

input {
  width: 70%;
  font-size: 20px;
  font-family: inherit;
  border: 1px solid gray;
  padding-left: 10px;
  height: 8vw;
}


input,
button {
  border-radius: 8px;
}

button:hover {
  background-color: darkgray;
  cursor: pointer;
}

@media screen and (max-width: 578px) {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  form button {
    height: 9vw;
    margin-top: 10px;
    font-size: 15px;
    width: 70%;
  }
}
