nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

header {
  height: 20vw;
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: 600;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

header button {
  min-width: 30%;
  max-height: 4vw;
  font-size: 1.2rem;
  border-radius: 8px;
}

header button:hover {
  cursor: pointer;
  background-color: darkgray;
}

.border {
  border-right: 6px solid blueviolet;
  border-radius: 8px;
}

@media screen and (max-width: 578px) {
  nav {
    text-align: center;
  }
  .nav_1 {
    flex-direction: column;
    text-align: center;
    line-height: 12vw;
    border-bottom: 3px solid blueviolet;
    border-radius: 20px;
    padding-bottom: 20px;
  }

  .nav_2 {
    display: inline-block;
  }

  .nav_2 button {
    font-size: 1rem;
    min-height: 9vw;
  }

  header {
    height: 60vw;
  }
}

@media screen and (max-width: 380px) {
  .nav_1 {
    font-size: 30px;
  }

  .nav_2 button {
    font-size: 15px;
    width: 70%;
    height: 12vw;
  }
}
